<app-burger></app-burger>
<!-- navbar -->

<div class="navbar">
  <div class="logo">
    <span>Sikkim House</span>
  </div>
  <br />

  <div class="location">
    <span><strong>'Kolkata'</strong></span>
  </div>
</div>

<!-- caracsoule -->

<ul>
  <li>
    <img src="\assets\image\Kolkata\1.webp" alt="cut citrus fruits. " />Main
    Building
  </li>
  <li><img src="\assets\image\Kolkata\2.webp" alt="sliced mango. " />View</li>

  <li>
    <img src="\assets\image\Kolkata\6.webp" alt="a sliced strawberry. " />Rooms
  </li>
  <li>
    <img
      src="\assets\image\Kolkata\7.webp"
      alt="an arrangement of assorted sliced fruits. "
    />fooding
  </li>
  <li>
    <img src="\assets\image\Kolkata\8.webp" alt="sliced watermelons. " />sites
  </li>
  <li>
    <img
      src="\assets\image\Kolkata\91.webp"
      alt="grapefruits, lemons, and pomegranates. "
    />Dishes
  </li>
</ul>

<!-- caracsoul end -->

<!-- sikkim house -->
<div
  class="booking"
  style="text-align: center; padding: 30px 20px; line-height: 0.7"
>
  <div
    style="
      border: 2px solid rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.5);
      padding: 30px;
      border-radius: 10px;
      display: inline-block;
      max-width: 800px; /* Adjust maximum width */
      margin: 0 auto;
    "
  >
    <p
      style="
        display: flex;
        align-items: left;
        justify-content: left;
        text-decoration: underline;
        font-size: 25px;
        font-weight: bold;
      "
    >
      Sikkim House
    </p>

    <br />
    <p>
      4/2, Middleton St, Kankaria Estates, Park Street area, Kolkata, West
      Bengal 700071
    </p>

    <div
      class="button-container"
      style="
        display: flex;
        flex-wrap: wrap; /* Allow buttons to wrap to next line if necessary */
        justify-content: left;
        gap: 10px;
        margin-top: 20px;
      "
    >
      <button
        style="
          color: #1a73e8;
          background-color: white;
          width: 100px;
          padding: 8px 15px; /* Adjust padding for better button appearance */
          border: 2px solid #1a73e8; /* Add border with desired color */
          border-radius: 10px;
          cursor: pointer; /* Add cursor pointer to indicate interactivity */
          transition: all 0.3s ease;
        "
        mat-button
        (click)="navigate()"
      >
        Direction
      </button>
      <button
        style="
          color: #1a73e8;
          background-color: white;
          width: 100px;
          padding: 8px 15px; /* Adjust padding for better button appearance */
          border: 2px solid #1a73e8; /* Add border with desired color */
          border-radius: 10px;
          cursor: pointer; /* Add cursor pointer to indicate interactivity */
          transition: all 0.3s ease;
        "
        mat-button
        (click)="share()"
      >
        Share
      </button>

      <button
        style="
          background-color: #1a73e8;
          color: white;
          border: 2px solid #1a73e8;
          width: 100px;
          padding: 5px;
          cursor: pointer;
          border-radius: 10px;
          transition: all 0.3s ease;
        "
        mat-button
        (click)="bookRoom()"
      >
        Book a Room
      </button>
    </div>
    <br />
    <br />
    <div>
      <p
        style="
          display: flex;
          align-items: left;
          justify-content: left;
          text-decoration: underline;
          font-size: 15px;
          font-weight: bold;
        "
      >
        Review
      </p>
      <br />
      <div class="reviews">
        <div class="rating">
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          />
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="review-info">
          <span>Very good &nbsp;</span>
          <span>|&nbsp;</span>
          <span>1,032 reviews</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- avail -->
<div class="booking">
  <div class="booking-container">
    <p
      style="
        display: flex;
        align-items: left;
        justify-content: left;
        text-decoration: underline;
        font-size: 15px;
        font-weight: bold;
      "
    >
      Check availability
    </p>
    <div
      class="date-container"
      style="
        display: flex; /* Make the container a flexbox */
        align-items: center;
        gap: 1.4rem;
      "
    >
      <label for="checkInDate">Check-in Date:</label>
      <input type="date" id="checkInDate" name="checkInDate" />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="checkOutDate">Check-out Date:</label>
      <input type="date" id="checkOutDate" name="checkOutDate" />
    </div>

    <br />

    <!-- avail -->

    <div class="booking-form">
      <div class="row">
        <div class="input-group">
          <label for="adults">Adults:</label>
          &nbsp;&nbsp;&nbsp;
          <select
            #adultsSelect
            id="adults"
            name="adults"
            (change)="calculateTotal(adultsSelect.value, childrenSelect.value)"
          >
            <option *ngFor="let i of adultsOptions" [value]="i">{{ i }}</option>
          </select>
        </div>
        <div class="input-group">
          <label for="children">Children:</label>
          &nbsp;&nbsp;&nbsp;

          <select
            #childrenSelect
            id="children"
            name="children"
            (change)="calculateTotal(adultsSelect.value, childrenSelect.value)"
          >
            <option *ngFor="let i of childrenOptions" [value]="i">
              {{ i }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="total">Total Persons: {{ totalPersons }}</div>
    </div>

    <div class="toggle-container">
      <span class="toggle-label">Free Cancellation:</span>
      <label class="toggle-switch">
        <input type="checkbox" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <br />

    <button class="done-button">DONE</button>
  </div>
</div>

<div class="box">
  <div class="twoo one">
    <br />
    <br />
    <div class="align" style="display: flex; justify-content: space-around">
      <div class="leftt">
        <div class="facilities-title">Facilities</div>
        <br />

        <table class="facilities-table">
          <tbody>
            <tr>
              <td>
                <i
                  class="fa fa-check-circle"
                  style="font-size: 28px; color: green"
                ></i>
              </td>
              <td>Swimming Pool</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="leftt">
        <div class="timing-title">Timing</div>
        <br />

        <table class="timing-table">
          <tbody>
            <tr>
              <td>
                <i
                  class="fa fa-check-circle"
                  style="font-size: 28px; color: green"
                ></i>
              </td>
              <td>Check In - 01:00 PM</td>
            </tr>
            <tr>
              <td>
                <i
                  class="fa fa-check-circle"
                  style="font-size: 28px; color: green"
                ></i>
              </td>
              <td>Check Out - 12:00 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="leftt">
        <div class="amenities-title">Amenities</div>
        <br />
        <table class="amenities-table">
          <tbody>
            <tr>
              <td>
                <i
                  class="fa fa-check-circle"
                  style="font-size: 28px; color: green"
                ></i>
              </td>
              <td>WiFi</td>
            </tr>
            <tr>
              <td>
                <i
                  class="fa fa-check-circle"
                  style="font-size: 28px; color: green"
                ></i>
              </td>
              <td>Fitness Centre</td>
            </tr>
            <tr>
              <td>
                <i
                  class="fa fa-check-circle"
                  style="font-size: 28px; color: green"
                ></i>
              </td>
              <td>Laundry Service</td>
            </tr>
            <!-- <tr>
              <td><i class="fa fa-check-circle" style="font-size: 28px; color: green"></i></td>
              <td>WiFi</td>
            </tr>  -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="twoo two">
    <div>
      <div
        style="
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          padding: 20px;
        "
      >
        <div
          style="
            color: green;
            font-weight: 400;
            text-align: center;
            font-size: 20px;
            border: 2px solid green;
            border-radius:20px;
            padding:10px;
            background-color: #ffffff;
            display: inline-block;
            max-width: 800px; /* Adjust maximum width */
            margin: 2px auto;
          "
        >
          Contact
        </div>
        <br />
        <button
        style="    background: #058a07;
        color:white;
        border-color:#058a07;
        border-radius:10px;
        "
        (click)="generateNumber()"><i class="fa fa-phone" style="font-size:28px;color:rgb(255, 255, 255)"></i> &nbsp;Show Number</button><br />
        <div
          style="
            color: red;
            text-align: center;
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: bold;
            font-weight: bold;
            display: flex;
  align-items: center;
  justify-content:center
          "
          *ngIf="showNumber"
          class="number"
        >
          {{ fixedNumber }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- facility.component.html -->

<app-fotter></app-fotter>
<div style="line-height: 0rem">
  <br />
  <br />

  <!-- fotter -->

  <p>hello</p>
  <p>hello</p>
  <p>hello</p>
  <p>hello</p>
</div>
