<div class="navbar">
  <div class="logo">
    <span>Sikkim House</span>
  </div>
  <br />

  <div class="location">
    <span><strong>'Kolkata'</strong></span>
  </div>
</div>

<!-- caracsoule -->


<ul>
  <li>
    <img
      src="\assets\image\Kolkata\1.webp"
      alt="cut citrus fruits. "
    />Lorem Ipsum
  </li>
  <li>
    <img
      src="\assets\image\Kolkata\2.webp"
      alt="sliced mango. "
    />Dolor Sit
  </li>

  <li>
    <img
    src="\assets\image\Kolkata\6.webp"
    alt="a sliced strawberry. "
    />Metus Mollis
  </li>
  <li>
    <img
      src="\assets\image\Kolkata\7.webp"
      alt="an arrangement of assorted sliced fruits. "
    />Congue Sagittis
  </li>
  <li>
    <img
    src="\assets\image\Kolkata\8.webp"
    alt="sliced watermelons. "
    />Vestibulum Et
  </li>
  <li>
    <img
    src="\assets\image\Kolkata\91.webp"
    alt="grapefruits, lemons, and pomegranates. "
    />Donec Eget
  </li>
</ul>

<!-- caracsoul end -->


<div
  class="booking"
  style="text-align: center; padding: 30px 20px; line-height: 0.7;
  "
  >
  <div
  style="
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.5);
      padding: 30px;
      border-radius: 10px;
      display: inline-block;
    "
  >
    <p
      style="
        display: flex;
        align-items: left;
        justify-content: left;
        text-decoration: underline;
        font-size: 25px;
        font-weight: bold;
      "
    >
      Sikkim House
    </p>

    <br />
    <p>
      4/2, Middleton St, Kankaria Estates, Park Street area, Kolkata, West
      Bengal 700071
    </p>

    <div
      class="button-container"
      style="display: flex; flex-direction: row; gap: 8px; padding-bottom: 0px"
    >
      <button
        style="
          color: #1a73e8;
          background-color: white;
          width: 100px;
          padding: 8px 15px; /* Adjust padding for better button appearance */
          border: 2px solid #1a73e8; /* Add border with desired color */
          border-radius: 10px;
          cursor: pointer; /* Add cursor pointer to indicate interactivity */
          transition: all 0.3s ease;
        "
        mat-button
        (click)="navigate()"
      >
        Direction
      </button>
      <button
        style="
          color: #1a73e8;
          background-color: white;
          width: 100px;
          padding: 8px 15px; /* Adjust padding for better button appearance */
          border: 2px solid #1a73e8; /* Add border with desired color */
          border-radius: 10px;
          cursor: pointer; /* Add cursor pointer to indicate interactivity */
          transition: all 0.3s ease;
        "
        mat-button
        (click)="share()"
      >
        Share
      </button>

      <button
        style="
          background-color: #1a73e8;
          color: white;
          border: 2px solid #1a73e8;
          width: 100px;
          padding: 5px;
          cursor: pointer;
          border-radius: 10px;
          transition: all 0.3s ease;
        "
        mat-button
        (click)="bookRoom()"
      >
        Book a Room
      </button>
    </div>
    <br />
<br>
    <div>
      <p
        style="
          display: flex;
          align-items: left;
          justify-content: left;
          text-decoration: underline;
          font-size: 15px;
          font-weight: bold;
        "
      >
        Review
      </p>
      <br />
      <div class="reviews">
        <div class="rating">
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          />
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="review-info">
          <span>Very good &nbsp;</span>
          <span>|&nbsp;</span>
          <span>1,032 reviews</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- avail -->
<div class="booking">
  <div class="booking-container">
    <p
      style="
        display: flex;
        align-items: left;
        justify-content: left;

        text-decoration: underline;
        font-size: 15px;
        font-weight: bold;
      "
    >
      Check availability
    </p>
    <div
      class="date-container"
      style="
        display: flex; /* Make the container a flexbox */
        align-items: center;
        gap: 1.4rem;
      "
    >
      <label for="checkInDate">Check-in Date:</label>
      <input type="date" id="checkInDate" name="checkInDate" />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="checkOutDate">Check-out Date:</label>
      <input type="date" id="checkOutDate" name="checkOutDate" />
    </div>

    <br />


    <!-- avail -->

    
    <div class="booking-form">
      <div class="row" style="display: flex; justify-content: center; gap: 90px">
        <div class="input-group">
          <label for="adults">Adults:</label>
          &nbsp;&nbsp;&nbsp;
          <select
            #adultsSelect
            id="adults"
            name="adults"
            (change)="calculateTotal(adultsSelect.value, childrenSelect.value)"
          >
            <option *ngFor="let i of adultsOptions" [value]="i">{{ i }}</option>
          </select>
        </div>
        <div class="input-group">
          <label for="children">Children:</label>
          &nbsp;&nbsp;&nbsp;

          <select
            #childrenSelect
            id="children"
            name="children"
            (change)="calculateTotal(adultsSelect.value, childrenSelect.value)"
          >
            <option *ngFor="let i of childrenOptions" [value]="i">
              {{ i }}
            </option>
          </select>
        </div>
      </div>
      <div class="total">Total Persons: {{ totalPersons }}</div>
    </div>
  </div>
</div>
