<app-burger></app-burger>
<!-- navbar -->

<div class="navbar">
  <div class="logo">
    <span>Sikkim House</span>
  </div>
  <br />

  <div class="location">
    <span><strong>'Kolkata'</strong></span>
  </div>
</div>

<!-- caracsoule -->

<ul>
  <li>
    <img src="\assets\image\Kolkata\1.webp" alt="cut citrus fruits. " />Main
    Building
  </li>
  <li><img src="\assets\image\Kolkata\2.webp" alt="sliced mango. " />View</li>

  <li>
    <img src="\assets\image\Kolkata\6.webp" alt="a sliced strawberry. " />Rooms
  </li>
  <li>
    <img
      src="\assets\image\Kolkata\7.webp"
      alt="an arrangement of assorted sliced fruits. "
    />fooding
  </li>
  <li>
    <img src="\assets\image\Kolkata\8.webp" alt="sliced watermelons. " />sites
  </li>
  <li>
    <img
      src="\assets\image\Kolkata\91.webp"
      alt="grapefruits, lemons, and pomegranates. "
    />Dishes
  </li>
</ul>

<!-- caracsoul end -->

<!-- sikkim house -->
<div
  class="booking"
  style="text-align: center; padding: 30px 20px; line-height: 0.7"
>
  <div
    style="
      border: 2px solid rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.5);
      padding: 30px;
      border-radius: 10px;
      display: inline-block;
      max-width: 800px; /* Adjust maximum width */
      margin: 0 auto;
    "
  >
    <p
      style="
        display: flex;
        align-items: left;
        justify-content: left;
        text-decoration: underline;
        font-size: 25px;
        font-weight: bold;
      "
    >
      Sikkim House
    </p>

    <br />
    <p>
      4/2, Middleton St, Kankaria Estates, Park Street area, Kolkata, West
      Bengal 700071
    </p>

    <div
      class="button-container"
      style="
        display: flex;
        flex-wrap: wrap; /* Allow buttons to wrap to next line if necessary */
        justify-content: left;
        gap: 10px;
        margin-top: 20px;
      "
    >
      <button
        style="
          color: #1a73e8;
          background-color: white;
          width: 100px;
          padding: 8px 15px; /* Adjust padding for better button appearance */
          border: 2px solid #1a73e8; /* Add border with desired color */
          border-radius: 10px;
          cursor: pointer; /* Add cursor pointer to indicate interactivity */
          transition: all 0.3s ease;
        "
        mat-button
        (click)="navigate()"
      >
        Direction
      </button>
      <button
        style="
          color: #1a73e8;
          background-color: white;
          width: 100px;
          padding: 8px 15px; /* Adjust padding for better button appearance */
          border: 2px solid #1a73e8; /* Add border with desired color */
          border-radius: 10px;
          cursor: pointer; /* Add cursor pointer to indicate interactivity */
          transition: all 0.3s ease;
        "
        mat-button
        (click)="share()"
      >
        Share
      </button>

      <button
        style="
          background-color: #1a73e8;
          color: white;
          border: 2px solid #1a73e8;
          width: 100px;
          padding: 5px;
          cursor: pointer;
          border-radius: 10px;
          transition: all 0.3s ease;
        "
        mat-button
        (click)="bookRoom()"
      >
        Book a Room
      </button>
    </div>
    <br />
    <br />
    <div>
      <p
        style="
          display: flex;
          align-items: left;
          justify-content: left;
          text-decoration: underline;
          font-size: 15px;
          font-weight: bold;
        "
      >
        Review
      </p>
      <br />
      <div class="reviews">
        <div class="rating">
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          />
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="review-info">
          <span>Very good &nbsp;</span>
          <span>|&nbsp;</span>
          <span>1,032 reviews</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- avail -->
<div class="booking">
  <div class="booking-container">
    <p
      style="
        display: flex;
        align-items: left;
        justify-content: left;
        text-decoration: underline;
        font-size: 15px;
        font-weight: bold;
      "
    >
      Check availability
    </p>
    <div
      class="date-container"
      style="
        display: flex; /* Make the container a flexbox */
        align-items: center;
        gap: 1.4rem;
      "
    >
      <label for="checkInDate">Check-in Date:</label>
      <input type="date" id="checkInDate" name="checkInDate" />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="checkOutDate">Check-out Date:</label>
      <input type="date" id="checkOutDate" name="checkOutDate" />
    </div>

    <br />

    <!-- avail -->

    <div class="booking-form">
      <div class="row">
        <div class="input-group">
          <label for="adults">Adults:</label>
          &nbsp;&nbsp;&nbsp;
          <select
            #adultsSelect
            id="adults"
            name="adults"
            (change)="calculateTotal(adultsSelect.value, childrenSelect.value)"
          >
            <option *ngFor="let i of adultsOptions" [value]="i">{{ i }}</option>
          </select>
        </div>
        <div class="input-group">
          <label for="children">Children:</label>
          &nbsp;&nbsp;&nbsp;

          <select
            #childrenSelect
            id="children"
            name="children"
            (change)="calculateTotal(adultsSelect.value, childrenSelect.value)"
          >
            <option *ngFor="let i of childrenOptions" [value]="i">
              {{ i }}
            </option>
          </select>
        </div>
      </div>
      <br />
      <div class="total">Total Persons: {{ totalPersons }}</div>
    </div>

    <div class="toggle-container">
      <span class="toggle-label">Free Cancellation:</span>
      <label class="toggle-switch">
        <input type="checkbox" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <br />

    <button class="done-button">DONE</button>
  </div>
</div>

<div class="box">
  <div class="twoo one">
    <br />
    <br />
    <div class="align" style="display: flex; justify-content: space-around">
      <div class="leftt">
        <div
          style="
            color: #1a73e8;
            font-size: 30px;
            text-decoration: underline;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
          "
        >
          Facilities
        </div>
        <br />

        <div class="rowww">
          <span
            ><i
              class="fa fa-check-circle"
              style="font-size: 28px; color: green"
            ></i>
            Swimming Pool
          </span>
        </div>
      </div>
      <div class="leftt">
        <div
          style="
            color: #1a73e8;
            font-size: 30px;
            text-decoration: underline;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
          "
        >
          Timing
        </div>
        <br />
        <div class="rowww">
          <span
            ><i
              class="fa fa-check-circle"
              style="font-size: 28px; color: green"
            ></i>
            Check In-01:00 PM </span
          ><br /><br />
          <span
            ><i
              class="fa fa-check-circle"
              style="font-size: 28px; color: green"
            ></i>
            Check Out-12:00 PM</span
          >
        </div>
      </div>
      <div class="leftt">
        <div
          style="
            color: #1a73e8;
            font-size: 30px;
            text-decoration: underline;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
          "
        >
          Amenities
        </div>
        <br />

        <div class="rowww">
          <span
            ><i
              class="fa fa-check-circle"
              style="font-size: 28px; color: green"
            ></i>
            WiFi </span
          ><br /><br />

          <span
            ><i
              class="fa fa-check-circle"
              style="font-size: 28px; color: green"
            ></i>
            Fitness Centre </span
          ><br /><br />
          <span
            ><i
              class="fa fa-check-circle"
              style="font-size: 28px; color: green"
            ></i>
            Air Conditioned </span
          ><br /><br />
          <span
            ><i
              class="fa fa-check-circle"
              style="font-size: 28px; color: green"
            ></i>
            Laundry Service
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="twoo two">Ten</div>
</div>

<!-- facility.component.html -->

<app-fotter></app-fotter>
<div style="line-height: 0rem">
  <br />
  <br />

  <!-- fotter -->

  <p>hello</p>
  <p>hello</p>
  <p>hello</p>
  <p>hello</p>
</div>
